@import url('https://fonts.googleapis.com/css?family=Poppins:wght@900&display=swap');

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #f8f1f1;
    --hover-color: #12f7ff;
    --bg-color: rgb(59, 59, 59); 
    --second-bg-color: black; 
    --big-font: 2.5rem;
    --normal-font: 2rem;
    --neon-box-shadow: 0 0 .5rem #12f7ff;
    --h2-font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
                            0 0 20px rgba(18, 247, 255, 0.3),
                            0 0 30px rgba(18, 247, 255, 0.3),
                            0 0 40px rgba(18, 247, 255, 0.3),
                            0 0 70px rgba(18, 247, 255, 0.3),
                            0 0 80px rgba(18, 247, 255, 0.3),
                            0 0 100px rgba(18, 247, 255, 0.3),
                            0 0 150px rgba(18, 247, 255, 0.3);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    height: .5rem;
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--second-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--hover-color);
    border-radius: 5rem;
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--hover-color) var(--second-bg-color);
}

/* Header Section */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 9px 5%;
    background: var(--second-bg-color);
    border-bottom: 1px solid var(--second-bg-color);
}

.logo {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    font-size: var(--normal-font);
    font-weight: 700;
    text-align: center;
}

.logo span {
    color: var(--hover-color);
    animation: distort 3s infinite linear;
}

.logo::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--hover-color);
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    animation: animateText 3s infinite linear;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    background: var(--hover-color);
    border-radius: 4px;
    color: var(--second-bg-color);
    transition: left 0.3s ease, content 0.3s ease;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
}

#menu-icon.click {
    left: 260px;
}

#menu-icon.click::before {
    content: '\f00d';
    font-family: 'FontAwesome';
    font-size: 2rem;
    color: var(--second-bg-color);
    background: var(--hover-color); 
    border-radius: 4px;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    text-align: center;
}

/* Sidebar Section */
.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    left: -250px;
    background: var(--second-bg-color);
    transition: left 0.4s ease;
}

.sidebar.show {
    left: 0;
}

.sidebar-content {
    display: none;
}

.sidebar-content.active {
    display: block;
}

.sidebar-menu-item.active {
    background-color: var(--second-bg-color);
    color: var(--hover-color);
}

.sidebar ul ul {
    display: none;
}

.sidebar ul ul.show {
    display: block;
}

nav ul {
    background: var(--second-bg-color);
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(18, 247, 255, 1);
}

nav ul li:last-child {
    border-bottom: 1px solid rgba(18, 247, 255, 0.05);
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li.active a {
    color: var(--hover-color);
    background: var(--second-bg-color);
    border-left-color: var(--hover-color);
}

nav ul li a:hover {
    color: var(--hover-color);
    background-color: var (--second-bg-color);
    border-left-color: var(--hover-color);
}

nav ul ul {
    max-height: 300px;
    overflow-y: auto;
    padding-left: 20px;
}

nav ul ul::-webkit-scrollbar {
    width: 8px;
}

nav ul ul::-webkit-scrollbar-thumb {
    background-color: var(--hover-color);
    border-radius: 4px;
}

nav ul ul::-webkit-scrollbar-track {
    background-color: var(--second-bg-color);
}

nav ul ul li {
    line-height: 42px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 17px;
    color: white;
    padding-left: 60px;
}

nav ul li a i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li a i.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

/* Sections */
section {
    display: none;
}

section.active {
    display: block;
}

/* Home Section */
.home {
    min-height: 100vh;
    display: block;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 100px 10%;
}

.home-content h2 {
    font-size: var(--big-font);
    font-weight: 700;
    margin-top: -90px;
    align-self: center;
    padding-right: 40px;
}

.home-content p {
    color: #bdbdbd;
    margin-bottom: 20px;
}

.btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.btn-box .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
    margin-bottom: 10px;
    text-align: center;
}

.btn-box .btn:hover {
    color: var(--hover-color);
}

.btn-box .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

/* Report Items in Home Section */
#recent-reports {
    margin-top: 20px; /* Adjusted to bring closer to h2 */
    width: 100%; 
}

.report-item {
    background: var(--second-bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--hover-color);
}

.report-item h3 {
    font-size: var(--normal-font);
    margin-bottom: 10px;
}

.report-item p {
    color: #bdbdbd;
    margin-bottom: 10px;
}

.report-item a {
    color: var(--hover-color);
    text-decoration: none;
}

.report-item img {
    border: 2px solid white;
    border-radius: 10px;
    object-fit: contain;
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.actions {
    position: relative;
}

.report-item .actions {
    position: relative;
    top: auto;
    text-align: center;
}

.report-item .actions a, .report-item .actions button {
    display: block;
    margin-bottom: 10px;
}

/* Viewed Report Section */
.viewedreport {
    padding: 100px 10%;
    text-align: center;
    background: var(--second-bg-color);
    color: var(--text-color);
}

.viewedreport h2 {
    font-size: var(--h2-font);
    font-weight: 700;
    margin-bottom: 20px;
}

.viewedreport .report-item {
    background: var(--second-bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.viewedreport .report-item h3 {
    font-size: var(--normal-font);
    margin-bottom: 10px;
}

.viewedreport .report-item p {
    color: #bdbdbd;
    margin-bottom: 10px;
}

.viewedreport .report-item a {
    color: var(--hover-color);
    text-decoration: none;
}

/* Incident Form Section */
.incidentform {
    padding: 100px 10%;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.incidentform h2 {
    font-size: var(--h2-font);
    font-weight: 700;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--second-bg-color);
    border: 2px solid var(--hover-color);
    padding: 20px;
    border-radius: 5px;
}

form label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    align-self: flex-start;
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: black;
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: var(--neon-box-shadow);
}

form input:focus,
form textarea:focus,
form select:focus {
    outline: none;
    box-shadow: 0 0 10px var(--hover-color);
}

form button {
    width: 150px;
    height: 45px;
    background: black;
    color: var(--hover-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
    text-align: center;
    cursor: pointer;
}

form button:hover {
    color: black; 
    background: var(--hover-color); 
}

form button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--hover-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

form button:hover::before {
    width: 100%;
}

form .categories-list a {
    color: var(--hover-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s;
}

form .categories-list a:hover {
    color: var(--text-color);
    text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
                0 0 20px rgba(18, 247, 255, 0.6);
}

/* Incident Details */
.incident-details {
    border: 2px solid var(--hover-color);
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 30px;
    min-height: 600px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -400px;
}

.incident-details h2 {
    font-size: var(--h2-font);
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 60px; /* Adjusted to prevent overlap */
}

.incident-details p {
    color: #fdfdfd;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: left;
}

.incident-details img {
    width: 50%;
    height: auto;
    margin: 20px auto;
    border: 2px solid white;
    background-color: black;
    border-radius: 10px;
    object-fit: contain;
}

.incident-details button {
    width: 150px;
    height: 45px;
    background: black;
    color: var(--hover-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    top: -10px;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
    right: -5px;
}

.incident-details button:hover {
    color: black;
    background: var(--hover-color);
}

.incident-details button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--hover-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.incident-details button:hover::before {
    width: 100%;
}

.text-content {
    text-align: center;
}

.text-content p {
    text-align: left;
    margin-left: 20px;
}

/* Edit and Delete Buttons */
.edit-post, .delete-post {
    width: 150px;
    height: 45px;
    background: black;
    color: var(--hover-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
    text-align: center;
    cursor: pointer;
    margin: 10px 10px;
}

.edit-post:hover, .delete-post:hover {
    color: black;
    background: var(--hover-color);
}

.edit-post::before, .delete-post::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--hover-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.edit-post:hover::before, .delete-post:hover::before {
    width: 100%;
}

/* Notification Section */
.notification {
    padding: 100px 10%;
    text-align: center;
    background-color: var(--second-bg-color);
    color: var(--text-color);
}

.notification h2 {
    font-size: var(--h2-font);
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.notification-content {
    margin-top: 20px; /* Adjusted to bring closer to h2 */
    width: 100%;
}

.notification-item {
    background: var(--second-bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--hover-color);
}

.notification-item h3 {
    font-size: var(--normal-font);
    margin-bottom: 10px;
    color: var(--text-color);
}

.notification-item p {
    color: #bdbdbd;
    margin-bottom: 10px;
}

.notification-item a {
    color: var(--hover-color);
    text-decoration: none;
    font-weight: bold;
}

/* Account Section */
.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 10%;
    background-color: var(--bg-color);
    margin-left: 250px;
}

.account-content {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: var(--second-bg-color);
    border: 2px solid var(--hover-color);
    border-radius: 10px;
    box-shadow: var(--neon-box-shadow);
    text-align: center;
}

.account-content h2 {
    font-size: var(--big-font);
    font-weight: 700;
    margin-bottom: 20px;
}

.account-content p {
    color: #bdbdbd;
    margin-bottom: 20px;
}

.account button {
    width: 150px;
    height: 45px;
    background: black;
    color: var(--hover-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
    text-align: center;
    cursor: pointer;
    margin: 10px auto;
}

.account button:hover {
    color: black; 
    background: var(--hover-color); 
}

.account button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--hover-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.account button:hover::before {
    width: 100%;
}

/* Authentication Section */
.authentication {
    padding: 100px 10%;
    background: var(--second-bg-color);
    color: var(--text-color);
    padding-bottom: 200px;
}

.authentication h2 {
    font-size: var(--h2-font);
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.form-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.form-action p {
    margin-top: 10px;
    font-size: 14px;
}

.form-action span a {
    color: var(--text-color);
    text-decoration: none;
}

.form-action span a:hover {
    color: var(--hover-color);
}

@keyframes distort {
    0% {
        text-shadow: 0 0 10px rgba(18, 247, 255, 0.3);
    }
    50% {
        text-shadow: 0 0 20px rgba(18, 247, 255, 0.6);
    }
    100% {
        text-shadow: 0 0 10px rgba(18, 247, 255, 0.3);
    }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 420px) {
    header {
        padding: 9px 2%;
    }
    
    #menu-icon {
        left: 10px;
    }

    #menu-icon.click {
        left: 220px;
    }

    .sidebar {
        width: 220px;
        left: -220px;
    }

    .sidebar.show {
        left: 0;
    }

    .home, .viewedreport, .incidentform, .account, .authentication, .notification {
        padding: 100px 5%;
    }

    .home-content h2, .viewedreport h2, .incidentform h2, .account-content h2, .authentication h2, .notification-content h2 {
        font-size: 2rem; /* Reduced font size */
    }

    .report-item img {
        width: 100%;
        height: auto;
    }
    .account {
        margin-left: 10px;
    }

    .report-item, .notification-item, .incident-details, .account-content, .form {
        margin-bottom: 10px; /* Adjust margin bottom */
    }

    .notification {
        padding: 100px 5%;
        padding-bottom: 100%;
    }

    .notification h2 {
        font-size: 2rem; /* Reduced font size */
    }

    .notification-item {
        margin-bottom: 10px; /* Adjust margin bottom */
    }

    .notification-content {
        margin-top: 10px; /* Adjusted margin-top for mobile */
    }

    /* Ensure buttons do not overlap with the sidebar */
    .btn-box, .report-item .actions, .edit-post, .delete-post, .incident-details button, .form-action button {
        z-index: 1;
        position: relative;
    }
    
    /* Ensure no elements overlap with the sidebar */
    .home, .viewedreport, .incidentform, .account, .authentication, .notification {
        position: relative;
        z-index: 0;
    }

    /* Adjust sidebar to have higher z-index */
    .sidebar {
        z-index: 2;
    }
}

